@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	background-image:linear-gradient(180deg,#999,#CCC,#FFF);}
div
{
	/*margin:0 auto;*/
	/*background:#CCC;
	border:1px solid black;*/
}
#header{height:40px; background:#999;width: 980px;margin:0 auto;}
#nav{height:60px;width: 980px;margin:0 auto;}
#banner
{
	margin:0 auto;
	width: 980px;
	height:560px;
	background:url(tian.gif) no-repeat;
	background-size:980px;
}

.content
{
	width: 990px;
	height: 620px;
	margin: 0 auto;
}
.content_left
{
	float: left;
	width: 200px;
	margin:1px;
}

.content_center
{
	float: left;
	width: 450px;
	margin:1px;
}

.content_right
{
	float: right;
	width: 320px;
	margin:1px;
}

#footer
{
	height:50px;
	width: 900px;
	margin:0 auto;
	color:#999;
}

li
{
	width: 200px;
	font-size:25px;
	font-weight:bold;
	color:#FFF;
	height:82px;
	list-style-type:square;
}
h2
{
	color:#FFF;
	float:right;
	height:40px;
	margin:0;
	line-height:40px;
}
span
{
	display:inline-block;
	width:230px;
	height:60px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	line-height:60px;
	font-size:24px;
}
p
{
	width:980px;
	text-align:center;
}

